/*BASICS*/
html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	position: relative;
}


/*SCANSTATUS*/
.scanStatusWrap{
	background-color: rgba(255, 255, 255, .5);
	color: #0064a8;
	display: none;
	font-size: 30px;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 0px;
	transition: background-color .5s ease-in-out 0s, color .2s linear 0s;
	width: calc(100% - 20px); /*20px = padding*/
}

.displayFrame{
	display: none;
	width: 100%;
	height: calc(100% + 80px);
	border: 60px solid rgba(94, 167, 218, .5);
}


/* HELP BUTTON + TEXT */

.helpButton{
    position:relative;
    display:none;
    left: 90%;
    top: 20%;
    width:50px;
    height:50px;
}

.helpText{
    display:none;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: rgba(255,255,255,.8);
    padding: 40px 40px 200px 40px;
    position: relative;
    overflow-y: scroll;
}

.helpText p {
	font-family: "Roboto", "sans-serif";
	font-size: 56px;
}

.helpText h2 {
	font-size: 80px;
	color: color: #0064a8;;
}