body,html {
	padding: 0px;
	margin: 0px;
}

/* NOTE
*  The keyframe names refer to the row (Y-Position) of the spritesheet
*  and the width of the spritesheet in total. Rowcount starts at 0 and
*  every row is assumed to be 500px in height. 
*  E.g.: sprite_3500_row2 would refer to a spritesheet with a width of 3500px 
*  and a height of at least 1500px (= 3 rows à 500px). It would "play"
*  the third row.
*/



/*PROBLEM:
Bei Ernas Spiel haben die AnimationWraps keine fixe Größe, sondern sind in vw angegeben. Bei den Background-Sizes
können wir darum nicht mit den Pixelmaßen arbeiten. 
IDEE:
AnimationWraps in fixer Größe angeben und dann mit transform(scale) verkleinern? Geht das? NOPE. 

LÖSUNG:
keyframes programmatisch erstellen. Backgroundposition = - (AnimationWrap.Widht * Frameanzahl) */

@keyframes sprite_3000_row0{
	0% {background-position: 0px 0px;}
	100% {background-position: -3000px 0px;}
}

@keyframes sprite_3000_row1{
	0% {background-position: 0px 500px;}
	100% {background-position: -3000px 500px;}
}


@keyframes sprite_3500_row0{
	0% {background-position: 0px 0px;}
	100% {background-position: -3500px 0px;}
}

@keyframes sprite_3500_row1{
	0% {background-position: 0px 100%;}
	100% {background-position: -84vw 100%;}
}