body {
	background-image: url("../assets/bg_boden.jpg");
	background-repeat: repeat;
	background-size: 30%;
}


/* ====== MAIN STAGE */

.tablett-wrap {
	width: 100%;
	height: auto;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.tablett {
	width: 90%;
	margin: auto;
	z-index: 1;
}

.essen {
	width: 30%;
	position: absolute;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,.8));
	z-index: 3;
}

.essen_erna{
	top: 10%;
	left: 10%;
}

.essen_waldemar{
	top: 10%;
	left: 60%;
	width: 30%;
}

.essen_iggy{
	top: 40%;
	left: 40%;
	width: 20%;
}

.essen.ui-draggable-dragging {
	filter: drop-shadow(0px 0px 6px rgba(255,255,255,.8));
	z-index: 10;
}

.essen_mini {
	display: none;
	position: absolute;
	right: -10px;
	width: 50%;
	bottom: 0px;
	z-index: 3;
}

.icon_wrap {
	position: absolute;
}

.icon {
	position: relative;
	width: 20vw;
	height: 20vw;
	max-width: 100px;
	max-height: 100px;
	border-radius: 50%;
	background-color: #ffbd3f;
	text-align: center;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0,0,0,.4);
	top: 0;
	z-index: 2;
	transition: all .6s ease-in-out 0s;
}

.icon.ui-droppable-hover {
	box-shadow: 1px 1px 5px #fff;
}


.icon_erna{
	left: 3%;
}

.icon_iggy{
	right: 3%;
}